<!DOCTYPE html>
<html>
<head>
  <title>Bulletin Stack</title>
  <script>var polyfilter_scriptpath = '/js/';</script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
</head>
<body>
  <%= render partial: "layouts/header" %>
  <%= yield %>

</body>
</html>
